footer {
    width: 100%;
    padding-top: 10.9rem;
    padding-bottom: 13.4rem;  
    background: #FAFAFA;
    .container {
        .top {
            @include flex(row, center, space-between);
            margin-bottom: 8.7rem;
            .text {
                h2 {
                    margin-bottom: 0.8rem;
                }
            }
            .switcher {
                position: relative;
                width: 100%;
                max-width: 59.2rem;
                height: 7.2rem;
                border: 1px solid rgba(196, 196, 196,0.6);
                border-radius: 120px;
                @include flex(row, center, space-between);
                span {
                    position: absolute;
                    background: $black-brand;
                    border-radius: 120px;
                    top: 0.8rem;
                    left: 1.1rem;
                    width: 26.9rem;
                    height: 5.6rem;
                    color: #FFF;
                    transition: left .8s;
                    &.active{
                        left: 31.1rem;
                    }
                }
                button {
                    width: 26.9rem;
                    height: 5.6rem;
                    font-family: 'Montserrat', sans-serif;
                    color: $gray-brand;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    letter-spacing: 0.02rem;
                    text-transform: uppercase;
                    white-space: nowrap;
                    z-index: 2;
                    border-radius: 120px;
                    &.first{
                        margin-left: 1.1rem;
                    }
                    &.second {
                        margin-right: 1.1rem;
                    }
                    &.active {
                        color: #FFFFFF;
                        font-weight: 600;
                    }
                }
            }
        }
        .card-business {
            width: 100%;
            height: 42.4rem;
            background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
            border-radius: 12px;
            display: flex;
            justify-content: space-between;    
            .text {
                width: 100%;
                max-width: 34.1rem;
                margin-top: 9.7rem;
                margin-bottom: 10.1rem;
                margin-left: 10.3rem;
                h4 {
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 130%;
                    letter-spacing: -0.03em;
                    color: #FFFFFF;
                    margin-bottom: 1.6rem;
                }
                p {
                    font-family: 'Inter',sans-serif;
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 150%;
                    color: #FFFFFF;
                    opacity: 0.7;
                    margin-bottom: 5rem;
                }
                .bottom {
                    display: flex;
                    align-items: center;
                    p {
                        font-weight: 500;
                        font-size: 1.4rem;
                        line-height: 150%;
                        opacity: 1;
                        margin-bottom: 0;
                        margin-left: 1.6rem;
                    }
                }
            }
            .images {
                position: relative;
                width: 100%;
                max-width: 55.9rem;
                margin-right: 13.6rem;
                img {
                    position: absolute;
                    &.card {
                        top: -8rem;
                        left: 0;
                        z-index: 2;
                    }
                    &.mockup {
                        bottom: 0;
                        right: 0;
                    }
                    &.c6-logo {
                        bottom: 5.3rem;
                        right: -6.5rem;
                    }
                }
            }
        }
    }
    @include responsive(900px) {
        .container {
            .top {
                flex-direction: column;
                .text {
                    margin-bottom: 4rem;
                    text-align: center;
                }
            }
            .card-business {
                
                .text {
                    margin-top: 5.7rem;
                    margin-bottom: 6.1rem;
                    margin-left: 6.3rem;
                }
                .images {
                    margin-right: 7.6rem;
                }
            }
        }
    }
    @include responsive(750px) {
        .container {
            .card-business {
                height: auto;
                flex-direction: column;
                align-items: center;
                .text {
                    height: 22.2rem;
                    width: 100%;
                    text-align: center;
                    margin-left: 0;
                    margin-bottom: 0;
                    .bottom {
                        justify-content: center;
                    }
                }
                .images {
                    height: 33.7rem;
                    margin-top: 12.2rem;
                    margin-right: 0;
                    img {
                        &.card {
                            top: -10rem;
                            left: -1rem;
                            height: 36.6rem;
                        }
                        &.mockup {
                            height: 30.6rem;
                            left: 5rem;
                        }
                        &.c6-logo {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @include responsive(480px) {
        padding-top: 6.9rem;
        padding-bottom: 8rem;
        .container {
            .top {
                margin-bottom: 4.8rem;
                .text {
                    h2 {
                        margin-bottom: 0.4rem;
                    }
                }
                .switcher {
                    height: 6.4rem;
                    span {
                        top: 0.8rem;
                        left: 0.8rem;
                        width: 17.1rem;
                        height: 4.8rem;
                        &.active{
                            left: 24.5rem;
                        }
                    }
                    button {
                        width: 17.1rem;
                        height: 4.8rem;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        &.first{
                            margin-left: .8rem;
                        }
                        &.second {
                            margin-right: .8rem;
                        }
                        
                    }
                }
            }
            .card-business {
                .text {
                    h4 {
                        font-size: 2.2rem;
                        margin-bottom: 2rem;
                    }
                    p {
                        margin-bottom: 4.9rem;
                    }
                }
                .images {
                    height: 33.7rem;
                    margin-top: .9rem;
                    img {
                        &.card {
                            max-width: 31rem;
                            height: 26.6rem;
                            top: 0;
                        }
                        &.mockup {
                            max-height: 34.8rem;
                            height: 23.5rem;
                            left: 0;
                            bottom: 0;
                        }
                    }
                }
            }
            
        }
        
    }
}