h1 {
    font-size: 4.8rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 130%;
    @include responsive(480px) {
         font-size: 4rem;
    }
}

h2 {
    font-size: 4rem;
    letter-spacing: -0.03rem;
    font-weight: bold;
    @include responsive(480px) {
        font-size: 3.2rem;
    }
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
    color: $gray-brand;
    @include responsive(480px) {
        font-size: 2.4rem;
    }
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
}

h1,h2,h3 {
    line-height: 130%;
}

h2,h4 {
    color: $black-brand;
}